#mainbody {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1180px;
    width: 100%;
    /* background-color: rgba(255, 250, 240, 0.55); */
}
.main-col {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1vh;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1vh;
    text-align: center;
    font-size: large;
    color: azure;
}
.col {
    flex: 1;
    min-width: 250px;
}
header {
    background-color: #507070;
    background-image: url(/images/Mucha/27.png);
    background-size: 55% auto;
    background-position: center 75%;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 6px;
    align-items: center;
    box-shadow: 0px 5px 5px #00000060;
    line-height: 2.5em;
    padding: 0 2rem;
    color: azure;
}
header .main {
    font-size: 2rem;
}
.left-1 {
    background-image: url('/images/Mucha/56.png');
    background-size: cover;
    background-position: center;
    margin-top: 1vh;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.l1-bg {
    background-image: url('/images/Vintage1/20.png');
    background-size: 95% auto;
    background-position: center 6px;
    background-repeat: no-repeat;
}
.avatar {
    position: relative;
    display: inline-block;
    margin: 3em auto 1em auto;
	width: 40%;
    border-radius: 100%;
	box-shadow: 0px 5px 5px #00000060;
}
.avatar img.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 100%;
}
.avatar img.frame {
    position: absolute;
    top: -6%;
    left: -7%;
    width: 114%;
    height: 114%;
    pointer-events: none;
    display: block;
    transform: rotate(180deg); 
    opacity: 80%;
}
.my-name {
    font-size: 22px;
    font-weight: 600;
}
.l1-bio {
    margin: 6px;
    font-size: 11px;
}
.l1-info {
    display: grid;
    margin-top: 1vh;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    text-align: center;
    font-size: large;
    color: white;
}
.left-2 {
    background-image: url('/images/Mucha/36.png');
    background-size: cover;
    background-position: center;
    margin-top: 1vh;
    min-height: 180px;
    display: flex;
    font-size: small;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
}
.l2-title {
    margin: 2.5rem 0 0.5rem 0;
    font-size: large;
    font-weight: 600;
}
.left-3 {
    background-image: url('/images/Mucha/41.png');
    background-size: cover;
    background-position: center;
    margin-top: 1vh;
    min-height: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.l3-title {
    margin: 2rem 0 0.5rem 0;
    font-size: large;
    font-weight: 600;
}
.left-4 {
    background-image: url('/images/Mucha/30.png');
    background-size: cover;
    background-position: left;
    margin-top: 6px;
    min-height: 125px;
    display: flex;
}
.mid-1 {
    margin-top: 1vh;
    border-radius: 10px;
    background-image: url('/images/nemame-cas.jpg');
    background-size: cover;
    background-position: center;
    min-height: 240px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 1vh;
    overflow: hidden;
}
.mid-1 img {
    width: 50%;
    position: absolute;
    height: auto;
    left: -5%;
    bottom: -155%;
}
.mid-2 {
    background-image: url('/images/Mucha/33.png');
    background-size: cover;
    background-position: center;
    min-height: 688px;
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
}
.m2-bg {
    background-image: url('/images/Vintage1/46.png');
    background-size: 30% auto;
    background-position: right bottom;
    background-repeat: no-repeat;
}
.m2-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1vh;
}
main {
    padding: 8% 10%;
}
.main-bg {
    background-image: url('/images/Mucha/7.png');
    background-size: 30% auto;
    background-position: 72% bottom;
    background-repeat: no-repeat;
}
.right-1 {
    background-image: url('/images/Mucha/28.png');
    background-size: cover;
    background-position: center;
    min-height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.date {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}
.right-2 {
    background-image: url('/images/Mucha/60.png');
    background-size: cover;
    background-position: center;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.r2-bg {
    background-image: url('/images/Vintage2/12.png');
    background-size: 72% auto;
    background-position: center 40%;
    background-repeat: no-repeat;
}
.r2-title {
    margin: 4rem 0;
    font-size: large;
    font-weight: 600;
}
.right-3 {
    background-image: url('/images/Mucha/34.png');
    background-size: cover;
    background-position: center;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.right-4 {
    background-image: url('/images/Mucha/31.png');
    background-size: cover;
    background-position: center;
    margin-top: 1vh;
    min-height: 88px;
    display: flex;
}
footer {
    background-color: #507070;
    background-image: url(/images/Mucha/29.png);
    background-size: 33% auto;
    background-position: 95% 50%;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 88px;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 5px #00000060;
    padding: 1em 2em;
    color: azure;
}
.soc {
    display: flex;
    align-items: center;
    border-bottom: none;
}
.border {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid;
}