* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #6e8c8c;
    background-image: url('/images/Mucha/40.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif, Garamond, "微软雅黑", sans-serif;
}
h1 {
    font-size: x-large;
    font-weight: 600;
    color: #577777;
}
h2 {
    font-size: large;
    color:peru
}
h3 {
    font-weight: 600;
    color:grey;
}
a { 
    color: aliceblue;
    text-decoration: none; 
}
hr {
    border: 0;
    border-top: 2px dotted azure;
    margin: 1em 0;
}
.center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul { list-style: none; }